body {
  font-family: "Merriweather Sans";
  width: 100%;
}

header {
  background-image: url(https://images.unsplash.com/photo-1564507534080-5d4edb02e7c0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

header:before {
  background-color: rgba(87, 72, 62, 0.67);
  width: 100vw;
  height: 100vh;
  content: "";
  position: absolute;
}

.logo {
}

.logo h1 {
  color: #d3cecb;
  position: relative;
  z-index: 1000;
  font-size: 1.4em;
}

.main-nav {
  display: block;
  position: relative;
  z-index: 1000;
}

.main-nav ul {
  list-style: none;
}

.main-nav ul li {
  display: inline-block;
  margin: 1% 3%;
  position: relative;
  left: 10em;
  color: #d3cecb;
  font-size: 1rem;
  font-weight: 600;
}

.navigation {
  position: relative;
  z-index: 1000;
  display: none;
  background-color: rgba(87, 72, 62, 0.67);
}

.navigation button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border-style: hidden;
  color: #ee3e0d;
  font-size: 2em;
}

#menu {
  list-style: none;
}

#menu li {
  width: 100%;
  padding: 1em;
}

#menu li a {
  text-decoration: none;
  color: #d3cecb;
}

.hero-text {
}

.hero-text h1 {
  font-size: 3em;
  font-weight: 700;
}

.hero-text p {
  color: #d3cecb;
  font-size: 1.15rem;
}

.hero-text a {
  text-decoration: none;
  color: white;
  background-color: #ee3e0d;
  padding: 24px;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 34px;
  position: relative;
  top: 4em;
  font-size: 1em;
}

hr {
  border-bottom-color: #ee3e0d;
  border-bottom-width: 4px;
  width: 9%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-top: 4em;
  border-right-style: hidden;
  border-left-style: hidden;
  border-top-style: hidden;
}

/* media queries */

@media (max-width: 992px) {
  .main-nav {
    display: none;
  }

  .navigation {
    position: relative;
    z-index: 1000;
    display: block;
  }

  .hero-text h1 {
    font-size: 2em;
    font-weight: 700;
  }

  .hero-text p {
    color: #d3cecb;
    font-size: 0.75rem;
  }

  .hero-text a {
    text-decoration: none;
    color: white;
    background-color: #ee3e0d;
    padding: 24px;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 34px;
    position: relative;
    top: 4em;
    font-size: 0.5em;
  }

  header {
    background-image: url(https://images.unsplash.com/photo-1564507534080-5d4edb02e7c0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }

  header:before {
    background-color: rgba(87, 72, 62, 0.67);
    width: 100vw;
    height: 100vh;
    content: "";
    position: absolute;
  }
}

@media (max-width: 600px) {
  .navigation button {
    position: absolute;
    top: -56px;
    right: 0;
  }
}
